.primera-seccion {
    margin-bottom: 3em;
}

.buscador {
    margin-top: 25px;
    background-image: url('../../assets/images/HeroImagelg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 42px 42px 0 0;
    padding: 0 6.3em;
    color: white;
}

.more-information{
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    align-items: center;
}

#logo-blanco {
    margin-top: 10px;
    filter: brightness(0) invert(1);
    width: 13.5rem;
}

#texto-pre-buscador {
    font-size: 1.6rem;
    margin-bottom: 1.2em;
}

.searchBox {
    padding-bottom: 1.5em;
}

#input-breed {
    border-radius: 59px;
    width: 15rem;
    height: 3rem;
    padding-left: 14px;
    border: 1px solid #ccc;
}


.most-search {
    border-radius: 0 0 42px 42px;
    padding: 2em 3em;
    height: fit-content;
    background-color: #E3E1DC;
    color: #291507;
    font-size: 1.2em;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
}

#parrafo {
    margin-bottom: 2em;
}

#info {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    grid-column: 1/1;

}

#read-more-text {
    font-size: 20px;
    grid-column: 2/2;
    margin-left: auto;
}

.imagenes {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 2em;
}

.image-container {
    width: 220px;
}

.image-container img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    max-width: 220px;
}

.image-container p {
    margin-top: 10px;
}

.segunda-seccion {
    color: #291507;
    float: inline-start;
}

.informacion {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    width: 35%;
    float: left;
    margin-right: 2em;
}


.collage {
    justify-content: center;
    display: grid;
    grid-template-areas:
        'image-02 image-03'
        'image-01 image-03';
    gap: 2em;
}

img.image-one {
    grid-area: image-01;
    width: 100%;
    height: 80%;
    object-fit: contain
}

.image-two {
    grid-area: image-02;
    width: 100%;

}

.image-three {
    grid-area: image-03;
    width: 100%;
    height: 65%;
    object-fit: cover;
}


.line {
    width: 112px;
    height: 47px;
    border-bottom: 4px solid #4D270C;
    margin-top: -40px;
    color: #4D270C;
}

@media screen and (max-width: 375px) {
    #info {
        font-size: 35px;
    }
}

@media screen and (max-width: 425px) {
    .image-container {
        width: 110px;
    }

    .segunda-seccion {
        display: flex;
        flex-direction: column;
    }

    .informacion {
        width: 100%;
        margin-bottom: 2em;
    }
}


@media screen and (max-width: 768px) {

    .buscador {
        background-image: url("../../assets/images/HeroImagesm.png");
    }

    .imagenes {
        flex-direction: column;
        align-items: center;
    }

    .informacion{
        margin-bottom: 1.5em;
    }

}

@media screen and (max-width: 992px) {
    .buscador {
        background-image: url("../../assets/images/HeroImagemd.png");
        padding: 0 1.5rem 0 1.5rem;
    }
}

@media (max-width:650px) {
    #input-breed {
        max-width: 110px;
    }

}