<section class="primera-seccion">
  <div class="buscador">
    <img src="../assets/CatwikiLogo.svg" id="logo-blanco" />
    <p id="texto-pre-buscador">Get to know more about your cat breed</p>
    <app-search-component [breeds]="breedsList"></app-search-component>
  </div>

  <div class="most-search">
    <span>Most Searched Breeds</span>
    <div class="line"></div>
    <p id="info">66+ Breeds For you to Discover</p>
    <a id="read-more-text">See More &#8594;</a>
    <div class="imagenes">
      <div class="image-container">
        <img src="https://cdn2.thecatapi.com/images/IFXsxmXLm.jpg">
        <p>Bengal</p>
      </div>
      <div class="image-container">
        <img src="https://cdn2.thecatapi.com/images/w6CQYXYjy.jpg">
        <p>LaPerm</p>
      </div>
      <div class="image-container">
        <img src="https://cdn2.thecatapi.com/images/bju16uKfD.jpg">
        <p>Ragdoll</p>
      </div>
      <div class="image-container">
        <img src="https://cdn2.thecatapi.com/images/tZYP8bcem.jpg">
        <p>Javanese</p>
      </div>
    </div>
  </div>
</section>

<section class="segunda-seccion">
  <div class="line"></div>
  <div class="informacion">
    <p id="info">Why should you have a cat?</p>
    <p id="parrafo">Having a cat around you can actually trigger the release of calming chemicals in your body wich
      lower your
      stress and anxiety leves.
    </p>
    <a id="read-more-text"
      href="https://www.helpguide.org/articles/healthy-living/joys-of-owning-a-cat.htm#:~:text=Owning%20a%20cat%20can%20bring,and%20improve%20your%20heart%20health.">Read
      More &#8594;</a>
  </div>

  <div class="collage">
    <img src="../assets/images/image 1.png" class="image-one">
    <img src="../assets/images/image 2.png" class="image-two">
    <img src="../assets/images/image 3.png" class="image-three">

  </div>

</section>