/* You can add global styles to this file, and also import other style files */
body{
  font-family: Montserrat;

}
a {
    text-decoration: none;
    color:#29150799;
}

a:hover {
  text-decoration: underline;
}

button {
  color: white;
}


p{
    margin-bottom: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
